body {
    background-color: black;
}

h1 {
    color: red;
    text-align: center;
    position: relative;
}

p {
    color: white;
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;

}