body {
    margin: 50px;
    background-color: black;
}

h1 {
    color: red;
    text-align: center;
}

p {
    color: white;
}

span {
    color: red;
}

h2 {
    color:white;
}

h3 {
    color:white;
}

hr {
    color:white;
    margin: 20px;
}

th {
    color:white;
    border: 1px #C8C8C8 solid;
}

td {
    color:white;
    border: 1px #C8C8C8 solid;
}

#test {
    border-bottom: 1px solid white;
}

table {
    border-color: white;
    width:85vw;
    table-layout: fixed;
    word-wrap: break-word;
}