* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

ul {
    padding: 0;
}

.sidebar {
    font-size: 170%;
    width: 300px;
    background-color: moccasin;
    height: 1000px;
  }
  
.menu{
    border-bottom: dotted 3px rgb(186, 184, 184);
}

.center-menu{
    /*コレ*/box-shadow: 0 5px #0023b7;
    /*コレ*/border-radius: 5px;
    display: block;
    width: 200px;
    padding: 15px;
    box-sizing: border-box;
    background: #6fa1ff;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    margin: 10px 0;
}