{% extends 'theme.html' %}

{% load static %}

{% block title %}課金のこと{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
{% endblock %}

{% block contents %}
<h2>課金のこと</h2>
<div class="g-slide">
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQ6VnnFAcmFfzIvy_lXFrKGPDMr3xuzS3mDiRcZDmM9cVmR7xE0m3vNMBkUgpp46czRR42UfqvHFq98/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>
{% endblock %}

{% block simulation %}
<h2>simulation</h2>
<a href="{% url 'Diagnosis_charge' %}">診断するよー</a>
{% endblock %}

{% block quiz %}
<h2>quiz</h2>
{% endblock %}  