{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>詐欺ページ</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
</head>
<body>
    <header>
    <a href="{% url 'index' %}">ロゴを入れる？</a>
    </header>
    <hr>
    <!--スライドや問題を入れる-->
    <h2>Contents</h2>
    <h2>Simulation</h2>
    <a href="{% url 'oneclick_fraud' %}">1等100万円申し込みページ</a>
    <h2>Quiz</h2>
    <hr>
    <footer>
        <p>&copy; ICTリテラシー教室</p>
    </footer>
</body>
</html>