{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メインページ</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <script src="https://kit.fontawesome.com/c0d1773d8e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>
<body>
    <div class="bg_pattern Diagonal_v2"></div>
    {% block header %}
    <div class="header"></div>
    {% endblock %}
    {% block sidebar %}
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
        <ul class="sidebarMenuInner">
        <li><a href="#" style="text-decoration:none;"><a href="{% url 'sns' %}" target="_self"><i class="fa-sharp fa-solid fa-circle-play"></i>　SNSのこと</a></a></li>
        <li><a href="{% url 'charge' %}" target="_self">課金のこと</a></li>
        <li><a href="{% url 'fraud' %}" target="_self">詐欺のこと</a></li>
        <li><a href="{% url 'security' %}" target="_self">セキュリティのこと</a></li>
        </ul>
    </div>
    <div id="titleimage">
    <img src="{% static 'image/黒板.png' %}" alt="" class="aligncenter"/></div>
    <div class="button">
        <a href="{% url 'sns' %}" class="btn btn-malformation">SNSのこと</a>
        <a href="{% url 'charge' %}" class="btn btn-malformation">高額課金のこと</a>
        <a href="{% url 'fraud' %}" class="btn btn-malformation">詐欺のこと</a>
        <a href="{% url 'security' %}" class="btn btn-malformation">セキュリティのこと</a>
    </div>
    {% endblock %}

    <div id="center" class="main center">
        <div class="mainInner">
        </div>
    </div>

    

    

    <hr>
    <a href="{% url 'sns' %}">SNSトラブル</a>
    <a href="{% url 'charge' %}">高額課金ページ</a>
    <a href="{% url 'fraud' %}">詐欺ページ</a>
    <a href="{% url 'security' %}">セキュリティページ</a>
    <hr>


    <footer>
        <p>&copy; おうちでがっこう</p>
    </footer>
</body>
</html>