{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ワンクリック詐欺ページ</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'fraud.css' %}">
    <script type="text/javascript">
        function frund_alert() {
            window.alert('登録が完了しました。')
        }
    </script>
</head>
<body onload="frund_alert()">
    <h1>ご登録ありがとうございます！</h1>
    <section>
        <div class="container">
        <p>お客様の会員登録が完了いたしました。お客様の個人情報を取得させて頂き、以下の通り登録が正式に完了いたしました。<b><span>登録料45,000円を、至急下記口座までお振込み下さいます様、お願い致します。</span></b>尚、1週間経ってもお振込みが行われない場合、下記プロバイダへ問い合わせ、お客様のご自宅、もしくはお勤め先へご請求をさせて頂く場合もございます。予めご了承下さいませ。</p>
        </div>
    </section>
    <section>
        <div class="container">
        <h2>あなたのアクセス情報</h2>
        </div>
    </section>
    <section>
        <div class="container" id = "test">
        <h2>お振込先</h2>
        <table border="1" style="border-color: white">
            <tr>
                <th>銀行名</th>
                <td>おうち銀行</td>
            </tr>
            <tr>
                <th>支店名</th>
                <td>がっこう支店</td>
            </tr>
            <tr>
                <th>口座名義</th>
                <td>サギ タイケン</td>
            </tr>
            <tr>
                <th>口座番号</th>
                <td>普) 123456</td>
            </tr>
            <tr>
                <th>振込金額</th>
                <td>45,000円</td>
            </tr>
        </table>
        </div>
    </section>
    <footer>
        <div class="container">
        <p>&copy; おうちでがっこう</p>
        </div>
    </footer>
</body>
</html>