{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ワンクリック詐欺ページ</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'fraud.css' %}">
    <script type="text/javascript">
        /*window.addEventListener('load', function() {
            alert("ワンクリック詐欺");
        });*/
        function frund_alert() {
            window.alert('登録が完了しました。')
        }
    </script>
</head>
<body onload="frund_alert()">
    <h1>ご登録ありがとうございます！</h1>
    <section>
        <div class="container">
        <p>お客様の会員登録が完了いたしました。お客様の個人情報を取得させて頂き、以下の通り登録が正式に完了いたしました。<b><span>登録料45,000円を、至急下記口座までお振込み下さいます様、お願い致します。</span></b>尚、1週間経ってもお振込みが行われない場合、下記プロバイダへ問い合わせ、お客様のご自宅、もしくはお勤め先へご請求をさせて頂く場合もございます。予めご了承下さいませ。</p>
        </div>
    </section>
    <section>
        <div class="container">
        <h2>あなたのアクセス情報</h2>
        </div>
    </section>
    <section>
        <div class="container">
        <h2>お振込先</h2>
        <table>
            
        </table>
        </div>
    </section>
    <hr>
    <footer>
        <div class="container">
        <p>&copy; おうちでがっこう</p>
        </div>
    </footer>
</body>
</html>