{% extends 'theme.html' %}

{% load static %}

{% block title %}セキュリティページ{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
{% endblock %}

{% block contents %}
<h2>contents</h2>
<div class="g-slide">
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTPmtScxEGqKOM6A-rv0X9knBApjgPwUW2a_KV0jUOZUn_kzv_fAZ_NvnCZcDekEi0hk3Nz-Sq2trJT/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>    
</div>
{% endblock %}

{% block simulation %}
<h2>simulation</h2>
<h3>ランサムウェア</h3>
<p>めっちゃおもろいアプリ</p>
<button id="button1">
    <a href="{% url 'security_exp' %}">インストール</a>
</button>
<script></script>
{% endblock %}

{% block quiz %}
<h2>quiz</h2>
<div id="comprehension_check">
    <ol>
    {% for q in ques %}
        <div class="questions">
            <div class="question">
                <li>{{ q.1 }}</li>
            </div>
            <div class="option" onclick="answer_check('{{ q.3 }}', event)">
                {% for o in q.2 %}
                <button id="answer-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" value="{{ o }}">
                    {{ o }}
                </button>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </ol>
</div>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}  